
.top-image {
    width: 100%;
    height: 300px; 
    object-fit: cover; 
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 2px solid black;
}


body {
    font-family: Arial, sans-serif;
    padding: 0 20px;
    margin: 0;
}

form {
    max-width: 800px; 
    margin: 0 auto; 
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-wrap: wrap; 
}

.inputGroup {
    display: flex;
    margin-bottom: 15px;
    width: 70%; 
    align-items: center; 
}

.inputGroup label {
    flex: 1; 
    margin-right: 15px; 
    font-weight: bold;
}

.inputGroup input, .inputGroup textarea {
    flex: 2; 
    width: 100%; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.gender-options {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%; 
}

.submit-btn {
    display: block;
    width: 30%; 
    padding: 5px;
    background-color: #4CAF50;
   
    
}

.submit-btn:hover {
    background-color: #45a049;
}
